<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seus Contatos</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
      
          <div class="col-lg-8 my-3">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Seus contatos estão abaixo</p>
      
            <% if(contatos.length > 0) { %>
            <div class="responsive-table">
              <table class="table my-3">
                <% contatos.forEach(contato => { %>
                <tr>
                  <td><%= contato.nome %></td>
                  <td><%= contato.fone %></td>
                  <td><%= contato.email %></td>
                  <td><a href="#">Editar</a></td>
                  <td><a class="text-danger" href="/contato/delete/<%=contato.id%>">Excluir</a></td>
                </tr>
                <% }); %>
              </table>
            </div>
            <% } else { %>
              <p class="text-center lead">Não existem contatos na sua agenda.</p>
            <% } %>
      
          </div>
          
          <div class="col-lg-2"></div>
        </div>
      </div>
</body>
</html>